.tab {
    text-align: center;
    cursor: pointer;
    border: .0625rem solid $bg-header;
    // border-top: none;
    // border-bottom: none;
    @include phonesMin2 {
      padding: 1rem 0;
      font-size: .8rem;
    }
    @include tabletsMin {
      padding: 1rem;
      font-size: 1rem;
    }
  }
  .tab:hover {
    background-color: $bg-header;
    color: #fff;
  }
  
  .tab.active {
    background: $bg-second;
  }

.tab-panel {
    display: block;
    padding-top: 2rem;
  }
  
   
  .tab-strip {
    // background-color: #e8e8e8;
    display: flex;
    justify-content: center;
  }
  .card {
    // flex: 1 0 auto;
    display: none;
  }
  .card.active {
    display: block !important;
  }