.home-title {
    max-width: 75rem;
    @include phonesMin2 {
        margin: 2rem auto 1rem;
    }
    @include tabletsMin {
        margin: 4rem auto 2rem;
    }
    &__past-slider {
        margin: 0 auto;
        width: fit-content;
        text-align: center;
        color: $bg-second;
        @include phonesMin2 {
            font-size: 1.2rem;
        }
        @include tabletsMin {
            font-size: 1.5rem;
        }
    }
}

.itemsService {
    max-width: 75rem;
    margin: 0 auto;
    box-shadow: 0 0 .25rem #aaa;
}

.list-services {
    display: flex;
    flex-wrap: wrap;
    @include phonesMin2 {
        padding: 0;
        // align-items: center;
    }
    @include tabletsMin {
        padding: 1rem 0;
        justify-content: space-around;
        // align-items: initial;
    }
    &__icon {
        width: 100%;
        @include phonesMin2 {
            max-width: 1.5rem;
            margin-right: .5rem;
        }
        @include tabletsMin {
            max-width: 3rem;
            margin-right: 0;
        }
    }
    &__item {
        // border: .1rem solid #000;
        box-shadow: 0 0 .25rem #ccc;
        text-align: center;
        background: "red";
        box-sizing: border-box;
        min-width: 12rem;
        @include phonesMin2 {
            width: 100%;
            align-items: center;
            display: flex;
            padding: .5rem;
        }
        @include tabletsMin {
            flex: 0 1 30%;
            margin: .5rem;
            align-items: initial;
            display: block;
            padding: 1rem;
        }
    }
    &__text {
        @include phonesMin2 {
            margin-top: 0;
            text-align: left;
        }
        @include tabletsMin {
            margin-top: .5rem;
            text-align: initial;
        }
    }
}

.prerequisites {
    max-width: 75rem;
    margin: 0 auto;
    &__title {
        text-align: center;
        width: fit-content;
        // border-bottom: .125rem solid black;
        color: $bg-second;
        @include phonesMin2 {
            margin: 1rem auto 1rem;
            font-size: 1.2rem;
        }
        @include tabletsMin {
            margin: 4rem auto 2rem;
            font-size: 1.5rem;
        }
    }
    &__wrap {
        box-shadow: 0 0 .25rem #aaa;
        padding: 1.5rem;
    }
    &__picture {
        text-align: center;
    }
    &__img {
        max-width: 20rem;
    }
    &__text {
        margin-top: 1.5rem;
        color: $bg-header;
    }
    &__Dop {
        margin-top: 2rem;
    }
    &__title-second {
        font-size: 1.2rem;
        text-align: center;
    }
    &__text-second {
        margin-top: 1rem;
        color: $bg-header;
    }
}

.listAdvantages {
    max-width: 75rem;
    margin: 0 auto;

    &__title {
        text-align: center;
        width: fit-content;
        color: $bg-second;
        @include phonesMin2 {
            margin: 1rem auto 1rem;
            font-size: 1.2rem;
        }
        @include tabletsMin {
            margin: 4rem auto 2rem;
            font-size: 1.5rem;
        }
    }

    &__wrap {
        box-shadow: 0 0 .25rem #aaa;
        padding: 1rem;
    }

    &__list {
        margin: .5rem;
        color: $bg-header;
    }

    &__item {
        margin-bottom: 1rem;
        &:before {
            content: '\f005';
            font-family: FontAwesome;
            padding-right: .3rem;
            color: $bg-second;
        }
    }
}