.contact-container {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    
    @include phonesMin2 {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    @include tabletsMin {
        padding:1em 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.contact {
    background:  rgba($bg-second, .3);
    width: 100%;
    // text-align: center;
    // padding: 1rem;
    box-shadow: 0 0 .5rem 0 rgba(150, 150, 150, .8);
    font-family: $font-second;
    color: $bg-header;
    margin: 0 auto;
    @include phonesMin2 {
        width: 100%;
    }
    @include tabletsMin {
        max-width: 32rem;
    }

    &__title {
        font-family: $font-second;
        text-align: center;
        padding: 1rem;
        font-size: 1.3rem;
    }

    &__label {
        @include phonesMin2 {
            display: block;
            margin-bottom: .3rem;
            margin-left: .8rem;
        }
        @include tabletsMin {
            display: block;
            margin-bottom: .3rem;
            margin-left: 0;
        }
    }
    &__p {
        margin: .5rem .5rem;
        
        @include phonesMin2 {
            min-width: 100%;
            max-width: 100%;
            width: 100%;
        }
        @include tabletsMin {
            min-width: 15rem;
            max-width: 15rem;
        }
    }

    &__full {
        width: 100%;
        
        @include phonesMin2 {
            min-width: 100%;
            max-width: 100%;
            width: 100%;
        }
        @include tabletsMin {
            min-width: auto;
            max-width: auto;
            width: 100%;
            margin: .5rem;
        }
    }

    &__button {
        background: rgba($bg-second, 1);
        border:0;
        text-transform: uppercase;
        outline: 0;
        padding: .7rem;
        transition: background-color 1s ease-in;
        transition: color .3s  ease-in;
        font-family: $font-second;
        &:hover, &:focus {
            background: rgba($bg-second, .8);
            color: #fff;
            transition: background-color 1s ease-out;
            transition: color .3s  ease-out;
        }
    }

    &__button-block {
        text-align: center;
        padding: .5rem 0 1rem;
    }

    &__field,
    &__message {
        width:100%;
        padding:1em;
        border:1px solid  rgba($bg-second, .2);
        
    }

    &__items {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    &__required {
        color: $error-color;
    }
    &__response-msg {
        color: $error-color;
        text-align: center;
        margin: 0 auto 1rem;
    }
}