.menulinks-enter {
    opacity: 0.01;
  }
  
  .menulinks-enter.menulinks-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
  
  .menulinks-leave {
    opacity: 1;
  }
  
  .menulinks-leave.menulinks-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
// дополнение для мобильного меню
  .menulinks-appear {
    opacity: 0.01;
  }
  
  .menulinks-appear.menulinks-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }
  

  // router
  .SlideIn-appear {
    transform: translateX(30px);
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -o-transform: translateX(30px);
    -ms-transform: translateX(30px);
    opacity: 0;
  }
  
  .SlideIn-appear.SlideIn-appear-active {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transition: all 0.6s linear;
  }
  .SlideIn-enter {
      opacity: 0;
      transform: translateX(30px);
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -o-transform: translateX(30px);
    -ms-transform: translateX(30px);
  }
  .SlideIn-enter.SlideIn-enter-active {
      opacity: 1;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
      -ms-transform: translateX(0);
      transition: all 0.2s linear 0.4s;
  }
  .SlideIn-leave {
      opacity: 1.0;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
      -ms-transform: translateX(0);
  }
  .SlideIn-leave.SlideIn-leave-active {
      opacity: 0;
      position: absolute;
      width: 100%;
      transform: translateX(-30px);
      -webkit-transform: translateX(-30px);
      -moz-transform: translateX(-30px);
      -o-transform: translateX(-30px);
      -ms-transform: translateX(-30px);
      transition: all 0.2s linear;
  }

  body {
    overflow-y: scroll
  }

  .loader {
    // text-align: center;
    
  }
