.price-tables {
    max-width: 75rem;
    margin: 1rem auto;
    box-shadow: 0 0 .25rem #aaa;
    padding: 1rem;
}
.price-title {
    font-size: 2rem;
    text-align: center;
    @include phonesMin2 {
        margin: 1rem 0;
        font-size: 1.5rem;
    }
    @include tabletsMin {
        margin: 2rem 0;
        font-size: 2rem;
    }
}

.price-block {
    margin-top: 2rem;
}

.price-top {
    padding: 1rem 1rem 0 1rem;
    color: $bg-header;
    &__text {
        font-weight: 500;
        font-size: 1.1rem;
    }
    &__plain-text {
        margin: 1rem 0;
        font-size: 1.1rem;
    }
    &__list {
        margin-top: 1rem;
        padding: .5rem;
        font-size: 1.1rem;
    }
    &__item {
        list-style-type: square;
        margin: .5rem;
    }
}

.table-price {
    color: $bg-header;
    border: .1rem solid $bg-header;
    margin: 0 auto;
    &__caption {
        font-weight: 400;
        font-family: $font-first;
        margin: .5rem 0;
        @include phonesMin2 {
            font-size: 1.2rem;
        }
        @include tabletsMin {
            font-size: 1.5rem;
        }
    }
    &__header {
        background: $bg-header;
        color: rgba(255, 255, 255, .9);
    }
    &__th {
        padding: .4rem;
        @include phonesMin2 {
            padding: 0;
        }
        @include tabletsMin {
            padding: .4rem;
        }
    }
    &__td {
        padding: .4rem 1rem;
        border: .0625rem solid rgba($bg-header, .3);
        text-align: center;
        &:first-child {
            text-align: left;
            padding: 0;
            padding-right: 1rem;
        }
        @include phonesMin2 {
            padding: 0;
        }
        @include tabletsMin {
            padding: .4rem 1rem;
        }
    }
    &__trBody {
        &:hover {
            background: $bg-header;
            color: rgba(255, 255, 255, .9);
        }
    }
}